body{
    margin: 0 auto;
    height: 800px;
}

button {
    -webkit-app-region: no-drag;
}

.main-content{
    width: 1200px;
    height: 800px;
    display: flex;
    flex-direction: row;
}

#chessboard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 800px;
    width: 800px;
}

div{
    height: 100px;
    width: 100px;
    position: relative;
}

#chessboard div{
    background-size: cover;
    background-repeat: no-repeat;
}

#chessboard div:nth-child(n+1):nth-child(-n+64){
    background-color: #f0d9b5;
}

#chessboard div:nth-child(n):nth-child(even):nth-child(-n+8){
    background-color: #b58863;
}
#chessboard div:nth-child(n+9):nth-child(odd):nth-child(-n+16){
    background-color: #b58863;
}
#chessboard div:nth-child(n+17):nth-child(even):nth-child(-n+24){
    background-color: #b58863;
}
#chessboard div:nth-child(n+25):nth-child(odd):nth-child(-n+32){
    background-color: #b58863;
}
#chessboard div:nth-child(n+33):nth-child(even):nth-child(-n+40){
    background-color: #b58863;
}
#chessboard div:nth-child(n+41):nth-child(odd):nth-child(-n+48){
    background-color: #b58863;
}
#chessboard div:nth-child(n+49):nth-child(even):nth-child(-n+56){
    background-color: #b58863;
}
#chessboard div:nth-child(n+57):nth-child(odd):nth-child(-n+64){
    background-color: #b58863;
}

#chessboard div .ligne{
    font-family: sans-serif, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.8em;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2px;
}

#chessboard div .colonne{
    font-family: sans-serif, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 2px;
}