body{
    margin: 0 auto;
    height: 800px;
    width: 1400px;

    background-color: #edebe9;


    /* disabled text selection highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */ 
}

button, #chessboard{
    -webkit-app-region: no-drag;
}

.main-content{
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#chessboard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 800px;
    width: 800px;
    box-shadow: 0 4px 4px 0 rgba(255,255,255,1),0 4px 4px 0 rgba(255,255,255,1),0 4px 4px 0 rgba(255,255,255,1);
}

#chessboard div{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    position: relative;
}

#chessboard div:nth-child(n+1):nth-child(-n+64){
    background-color: #f0d9b5;
}

#chessboard div:nth-child(n):nth-child(even):nth-child(-n+8){
    background-color: #b58863;
}
#chessboard div:nth-child(n+9):nth-child(odd):nth-child(-n+16){
    background-color: #b58863;
}
#chessboard div:nth-child(n+17):nth-child(even):nth-child(-n+24){
    background-color: #b58863;
}
#chessboard div:nth-child(n+25):nth-child(odd):nth-child(-n+32){
    background-color: #b58863;
}
#chessboard div:nth-child(n+33):nth-child(even):nth-child(-n+40){
    background-color: #b58863;
}
#chessboard div:nth-child(n+41):nth-child(odd):nth-child(-n+48){
    background-color: #b58863;
}
#chessboard div:nth-child(n+49):nth-child(even):nth-child(-n+56){
    background-color: #b58863;
}
#chessboard div:nth-child(n+57):nth-child(odd):nth-child(-n+64){
    background-color: #b58863;
}

#chessboard div .ligne{
    font-family: sans-serif, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.8em;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2px;
    margin-right: 2px;
}

#chessboard div .colonne{
    font-family: sans-serif, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 2px;
}

#chess-console{
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
}

#chess-console .buttons{
    display: flex;
    flex-direction: row;
    height: 10%;
    border-bottom: 1px solid #d9d9d9;
    background-color: #d9d9d9;
}

#chess-console .buttons .left-button, #chess-console .buttons .right-button{
    flex: 1;
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: #f7f6f5;
    border: none;
    font-size: 3em;
    text-align: center;
    color: #4c4c4c;
}

#chess-console .buttons .left-button:hover, #chess-console .buttons .right-button:hover{
    transition-duration: 0.4s;
    background-color: #89b25b;
    color: #ffffff;
}

#chess-console .buttons .left-button{
    margin-right: 1px;
}